<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Virtual screening benchmark</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename="css/bootstrap.min.css")}}"  rel="stylesheet" >
  </head>
 
 
  <header> 
  <!-- jquery -->
  <script src="{{url_for('static', filename="js/jquery-3.2.0.min.js")}}"></script>
  <script src="{{url_for('static', filename="js/bootstrap.min.js")}}"></script>    
  <script src="{{url_for('static', filename="js/d3.v4.min.js")}}"></script>
  <script>
    $('.dropdown-toggle').dropdown(); 
  </script>
    <nav class="navbar navbar-default" style="background-color:#66d9ff">
      <div class="container-fluid">    
        <!-- Collect the nav links, forms, and other content for toggling -->
         {% block header %}  {% endblock %}
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  
  <body>
  
<style>
<!--
  navbar 
//-->
nav {
                width: 70%;
                height: 35px;
                background: -webkit-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
                background: -o-linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
                background: linear-gradient(#3f9a15, #388813, #3f9a15, #388813, #3f9a15);
                border-radius: 6px !important;
                -moz-border-radius: 6px !important;
            }

.nav a{
    color: black !important;
    font-size: 1.2em !important;
}

.dropdown-header {
    color: black !important;
    font-size: 1.2em !important;
}
.navbar-text {
    color: black !important;
    font-size: 1.1em !important;
}
.nav li{
padding-right:5px;
}
</style>

  
                                                                                  
  
  <!-- bootstrap -->
  
  <!-- block body -->
  {% block body %}  {% endblock %}
  <!-- endblock -->
  
		

    
    
  </body>
  
  <footer>
  </footer>
</html>