{% extends "main.html" %}
{% block body_1 %}

<style>
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 350px;
  height: 350px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>
    
<h3>Choose your selections:</h3>

<div class="loader" style="margin:0 auto;" hidden></div>

<div class="contentDiv">    
<!-- d/s -->
<h3>Data-sets and selections</h3>
<form method="post"  action="{{url_for('choose_n_selections')}}" >
  <div class="form-group">
    <label for="inputDataset" class="col-sm-2 control-label">Data set: </label>
    <div class="col-sm-10">
      <div class="col-xs-5">
        <select class="form-control" id="data_set_id" name="data_set_id">
          {% for dataset in selections %}
            <option>{{ dataset[0] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <label for="inputSelection" class="col-sm-2 control-label">Selection: </label>
    <div class="col-sm-10">
      <div class="col-xs-5">
        <select class="form-control" id="selection_id" name="selection_id">
          {% if selections|length > 1 %}
            {% for selection in selections[0][1] %}
              <option>{{ selection }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-4">
      <button class="btn btn-default" id="add_new_row" onclick="ar(); return false;">Add row to d/s</button>
      <button class="btn btn-default" id="remove_last_row" onclick="rr(); return false;">Remove last from d/s</button>
    </div>
  </div>
  <br>
  <br>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="col-xs-5">
      <div class="table-responsive" name="table" id="table">
        <table class="table table-bordered" name="d_s_table" id="d_s_table">
          <thead>
            <tr>
              <th>Data set</th>
              <th>Selection</th>
            </tr>
          </thead>
          <tbody id="id_tbody">
          </tbody>
        </table>
      </div>
      </div>
    </div>
      
      <!-- hidden intputs -->
      <div id="hidden_inputs">
          
      </div>
    </div>

  
  {% block body_2 %}{% endblock %} 
  <br>
      
    <div class="container-fluid">     
      <div class="row">  
        <div class="col-sm-offset-2 col-md-8">
          <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit" id="nextButton">
        </div>
      </div>
    </div>
  </form>  
</div>
  <script>
      var x = 0;      
    function ar() {
      // adding rows
      var dataset_id = document.getElementById("data_set_id").value; 
      var selection_id = document.getElementById("selection_id").value;
      var id_dataset = "dataset_" + x;
      var id_selection = "selection_" + x;
      var id_row = "row_" + x;
      
      $("#d_s_table").find("tbody").append($("<tr>").append($("<td>").attr("id", id_dataset).attr("name", id_dataset).text(dataset_id)).append($("<td>").attr("id", id_selection).attr("name", id_dataset).text(selection_id)).attr("id", id_row).attr("name", id_row)); 
      
      // adding inputs
      // <input type="hidden" name="name" value="your value"/>
      var input_name = "d_s_input_" + x;
      var input_value = dataset_id + "/" + selection_id;
      $("#hidden_inputs").append($("<input>").attr("type", "hidden").attr("id", input_name).attr("name", input_name).attr("value", input_value));
      
       x = x + 1; 
    }
    
    function rr() {
         x = x - 1;
         var input_name = "d_s_input_" + x
         var id_row = "row_" + x;
         var ref_row = "#" + id_row;
         var ref_input = "#" + input_name;
         $(ref_row).remove();
         $(ref_input).remove();                 
    }   

{% set i = 0 %}
$("#data_set_id").change(function() {
    var did = $(this).val()
    {% for dataset in selections %}
      if ( did == "{{ dataset[0] }}" ) {
         $("#selection_id").empty()
                            {% for selection in selections[i][1] %}
                                .append("<option selected='selected' value='{{ selection }}'>{{ selection }}</option>")
                            {% endfor %}
                            {% if selections[i][1]|length > 1 %}
                            .val("{{ selections[i][1][0] }}")
                            {% endif %}
   
      
    }
    {% set i = i + 1 %}
    {% endfor %} 
   
});

$("#nextButton").click(function () {
    $(".contentDiv").hide();
    $(".loader").show();
});




</script>
{% endblock %} 