{% extends "main.html" %}
{% block body_1 %} 

<h3>Choose methods: </h3>      
{% set i = 0 %}       
  
<style>
.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 350px;
  height: 350px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

</style>    
<div class="loader" style="margin:0 auto;" hidden></div>
<!-- search box -->
<div class="contentDiv">  
<br>
<div class="input-group">
  <div class="input-group-addon">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
  <input type="text" class="form-control" id="searchInput">
</div> 
<br>

<form class="form-horizontal" action="{{reference}}" method="post">   
  <!-- table -->     
    <div class="pre-scrollable">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="dataTable">
          <!-- table headers --> 
          <tr>
            <th> # </th>
            {% for header in HEADERS_TABLE %}
              <th> {{ header }} </th>
            {% endfor %}
          </tr>
          <!-- table rows -->  
          <tbody id="fbody">
          {% set i = 0 %}    
          {% for row in RESULTS_TABLE %}
            <tr>
              <!-- row cells --> 
              {% set chb_name = 'checkbox_' + i|string %}
              <td><input type="checkbox" aria-label="" name="{{ chb_name }}"></td>
              {% set i = i + 1 %}
              {% for cell in row %}
                <td> {{ cell }}</td>
              {% endfor %} 
            </tr>
          {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
    {% if dataset_option %}
    <br>
      <input type="checkbox" aria-label="Collaps to data-sets" name="dataset_option"> Collaps to data-sets <br>
    {% endif %}    
    <br>
    <button type="submit" class="btn btn-default btn-lg" id="nextButton">Next</button>
  </form>
</div>
  <!-- scripts -->
<!-- http://jsfiddle.net/ukW2C/3/ -->
<script> 
{% if not no_loader %}
  $("#nextButton").click(function () {
    $(".contentDiv").hide();
    $(".loader").show();
});
{% endif %}  

  

$("#searchInput").keyup("change",function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
});
</script>
{% endblock %}