{% extends "main.html" %}
{% block body_1 %} 

<h1 style="text-align: center;">{{title}}</h1>      
{% set i = 0 %}       
  
<style>
.pre-scrollable {
    max-height: auto;
    overflow-y: scroll;
}
</style>    

<!-- search box -->

<br>
<div class="input-group">
  <div class="input-group-addon">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
  <input type="text" class="form-control" id="searchInput">
</div> 

<br>
<form class="form-horizontal" action="{{ reference }}" method="post">   
  <!-- table -->     
    <div class="pre-scrollable">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="dataTable">
          <!-- table headers -->    
          <tr>
            <th> # </th>
            {% for header in HEADERS_TABLE %}
              <th> {{ header }} </th>
            {% endfor %}
          </tr>
          <!-- table rows -->  
          <tbody id="fbody">
          {% set i = 0 %}    
          {% for row in RESULTS_TABLE %}
            <tr>
              {% set bt_name = 'bt_' + i|string %}
              {% set i = i + 1 %} 
              <td><input type="checkbox" aria-label="" name="{{ bt_name }}"></td>
              <!-- row cells -->
              {% for cell in row %}
                <td> {{ cell }}</td>
              {% endfor %}                          
            </tr>
          {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-default btn-lg" id="nextButton">{{button_name}}</button>
  </form>
  
{% block body_2 %}  {% endblock %}
  
  <!-- scripts -->
<!-- http://jsfiddle.net/ukW2C/3/ -->
<script>   

$("#searchInput").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
}).focus(function () {
    this.value = "";
    $(this).css({
        "color": "black"
    });
    $(this).unbind('focus');
}).css({
    "color": "#C0C0C0"
});
</script>
{% endblock %}