{% extends "main.html" %}
{% block body_1 %} 
<!-- documentation -->
<div class="container">
      <h1>Dokumentace</h1>
       <p>
          Dokumentaci můžete stáhnout <a href="{{ url_for('download_doc') }}">zde</a>. (pouze v CZ)
      </p> 
      
      <h1>Interaktivní režim</h1>
      <p>
         Do interaktivního přístupu se dostanete, pokud aplikaci spustíte s přepínačem -i. 
         Aplikace se do tohoto režimu přepne automaticky, pokud nezadáte žádný přepínač.
         Konzole umožňuje více servisních funkcí než webové rozhraní. 
         Dovoluje uživateli inicializovat databáze a přesouvat jejich části z jedné instance aplikace na druhou.
         Také umí vytvářet konfigurace pro spouštění testů na vzdálených počítačích, které se zobrazují na webových stránkách při zvolení tohoto typu testu. 
         Pouze zde lze vymazávat položky z databáze. Jelikož se platforma soustředí spíše na komunikaci pomocí webových stránek, interaktivní režim není moc uživatelsky přívětivý. 
      </p> 
      <h2>Příkazy interaktivního režimu</h2>     
      <p>
      Pro zadání příkazu existují vždy dva způsoby. Uživatel může použít zkratku nebo celé slovo. <br>
      <h3>Základní nabídka</h3>
      <ul>
        <li>a. add</li>
        <li>g. get</li>
        <li>r. run</li>
        <li>e. exit</li>
        <li>h. help</li>
        <li>m. managing</li>
        <li>d. delete</li>          
      </ul>
      <h3>Get</h3>
      Slouží k získání informací z databází nebo jejich uložení. Lze vybírat z následujích možností:
      <ul>
        <li>a ... analyze</li>
        Lze získat informace o základních vyhodnoceních výsledků metod na výběrech. <br>
        K zobrazení informací můžete využít:
        <ul>
          <li>SQL identifikátor základního vyhodnocení</li>
          <li>SQL identifikátor subtestu vztahujícího se k základnímu vyhodnocení</li>
        </ul>
        <li>d ... dataset</li>
        Vypíše do souboru informace o datové sadě. Požadované informace jsou jméno datové sady a jména souborů, kam se mají informace zapsat.
        <li>e ... exit</li>
        Vrátí do předchozího menu.
        <li>f ... file</li>
        Zobrazí informace o souborech uložených v souborové databázi. 
        Třídění dle:
        <ul>
          <li>SQL identifikátor k záznamu o souborech v databázi</li>
          <li>SQL identifikátor příslušného subtesu, ke kterému se soubory vztahují</li>
        </ul>
        <li>g ... working group</li>
        Zobrazí informace o pracovních skupinách uložených v databázi. Informace dle:
        <ul>
          <li>Jména skupiny</li>
          <li>SQL identifikátoru pracovní skupiny</li>
        </ul>
        <li>me ... method</li>
        Možnost vrátí informace o metodách uložených v databázi. Filtry:
        <ul>
          <li>SQL identifikátor metody v databázi</li>
          <li>Typu metody (py, general)</li>
        </ul>
        <li>mo ... molecule</li>
        Informace o molekulách uložených v databázi. Zobrazení podle:
        <ul>
          <li>Jména molekuly</li>
          <li>SQL identifikátoru z databáze</li>
          <li>Subtestu, ke kterému molekula patří</li>          
        </ul>
        <li> se ... selection</li>
        Vypíše datový soubor výběru. Výběr je daný svým jménem a jménem datové sady, na které je definován. Nutnost zadat umístění souboru, do kterého se výsledek zapíše.
        <li>su ... subtest</li>
        Vypíše výběry uložené v databázi. Možnosti k filtrování:
        <ul> 
          <li>SQL identifikátor subtestu v databázi</li>
          <li>SQL identifikátor testu, ke kterému subtest patří</li>
          <li>Jméno datové sady</li>
          <li>Jméno výběru</li>
        </ul>
        <li>t ... test</li>
        Poskytne informace o testech. Výběr filtrů:
        <ul>
          <li>SQL identifikátor testu z databáze</li>
          <li>Pracovní skupina, která test spustila</li>
          <li>SQL identifikátor metody z databáze, na které byl test dělán</li>
          <li>Typ testu (<var>ls</var> pro lokální počítač, <var>r</var> pro vzdálené počítače, <var>mc</var> pro testy na Metacentru)</li>
          <li>Dle data, ve kterém byl test spuštěn</li>
        </ul>
      </ul> 
      <h3>Add</h3>
      Slouží k vložení dat do databáze. Podnabídka:
      <ul>
        <li>c ... configuration</li>
        Vloží novou konfiguraci gridu pro webové využití. Požadavky na definici počítače jsou:
        <ul>
          <li>jméno konfigurace</li>
          <li>jméno počítače, ke kterému se připojit (u-pl10.ms.mff.cuni.cz)</li>
          <li>Přihlašovací jméno</li>
          <li>Heslo</li>
          <li>Operační systém na vzdáleném počítači (LINUX | WINDOWS)</li>
          <li>Verze Pythonu instalovaná na vzdáleném počítači</li>
        </ul>
        <li>d ... dataset</li>
        Vloží novou datovou sadu ve správném formátu. Kromě informací o datové sadě se příkládá soubor ve formátu SDF. Příklad definice datové sady je uložen ve složce <i>examples</i> pod jménem <i>import_dataset_example.json</i>.
        <li>e ... exit</li>
        <li>g ... working group</li>
        Založí novou pracovní skupinu. Skupina má jméno a může mít dodatečné informace.
        <li>m ... method</li>
        Vloží novou Python nebo obecnou metodu. Rozlišit, zda je jednomolekulová nebo více-molekulová musí uživatel sám pomocí jména. <br>
        Pokud je vybrána Python metoda lze vložit buď načítací nebo skórovací funkci. Vyplňuje se cesta k <var>main</var> souboru. 
        <li>s ... selection</li>
        Vloží nový výběr do databáze od datové sady, která je v ní již uložená. Soubor musí být uložen ve správném formátu. Příklad je uložen ve složce <i>examples</i> pod jménem <i>import_selection_example.json</i>.
      </ul>
      <h3>Run</h3>
      Možnost sloužící k zadávání testů. Lze využít všechny tři možnosti, tedy zadávání testů na infrastruktuře Metacentrum, spuštění na gridu nebo lokální spouštění paralelně či seriově.
      <br> Postup:
      <ol>
        <li>Přihlášení pracovní skupiny</li>
        Tato informace je použita k identifikaci autora spuštěných testů.<br>
        Vyžadováno jméno skupiny                                             <br>
        Jméno "host" slouží jako obecný identifikátor.
        <li>Zvolení typu testované metody</li>
        Volí se mezi python nebo obecnou verzí metody
        <ul>
          <li>Python</li>
          Rozdělená na dvě funkce: načítavací a ohodnocovací.
          <ul>
            <li>Jednomolekulová</li>
            Jako parametr příjimá pouze jednu molekulu. Vstup se rozdělí a funkce se spustí několikrát paralelně.
            <li>Vícemolekulová (Dávková)</li>
            Na vstupu přijímá seznam molekul.  Vstup se nedělí a předá se celý funkci.
          </ul>
          <li>Obecná</li>
          Příkaz ke spuštění zadán v souboru v metodě. Více informací v textu BC.
        </ul>
        <li>Volba datových sad a výběrů</li>
        Pokud se zadá alespoň jedna datová sada bez specifikace výběru. Vyzkouší se celá zadaná sada + výběry, které byly zadány u ostatních datových sad. Zadává se jméno datové sady a výběru. Špatné datové sady jsou odfiltrovány.
        <li>Volba vícevláknového spouštění testů na výběrech (na lokálním počítači)</li>
        Možnosti True/False
        <li>Volba spuštění testu na gridu</li>
        Při volbě True se zadává soubor se specifikací gridu. Příklad ve složce <i>examples</i> se jménem <i>pc_to_use.json</i>
        <li>Volba spouštění testů na Metacentru</li>
        Uživatel musí být na tamní infrastruktuře registrován. Bude po něm požadováno soubor se zapsaným jménem a heslem. Jelikož se zadávájí tyto údaje při zakládání konfiguračního souboru, stačí se odkázat na něj. Dále se zadává soubor, který obsahuje řídící uzel, se kterým se bude komunikovat. Příklad ve složce <i>metacentrum</i> pod jménem <i>front_nodes.json</i>.
        <li>Nabídka přidání dalšího testu</li>
        <li>Volba paralelního spouštění testů</li>
        K spuštění testů se využijí všechny jádra na pc.
        <li>Potvrzení spuštění testu(ů)</li> 
      </ol>
      <h3>Managing</h3>
      <ul>
        <li>m ... merge</li>
        Nahraje do databáze záznamy ze složky, kterou vytvořila možnost <i>get</i>.
        <li>g ... get</li>
        Vytvoří složku s daty pro přesun části databáze dle zadaných údajů. Zadávají se období, ve kterém byly testy spuštěny, a výstupní složka.  
        <li>e ... exit</li>
        <li>i ... init</li>
        Inicializuje databáze. Lze provést u:
        <ul>
          <li>Databázové</li>
          Zkontroluje, zda je verze souborové databáze baliku ZSD aktuální. Pokud ano, nic nedělá, jinak zakutalizuje.
          <li>Relační</li>
          Vymaže data z relační databáze a související ze souborové.
        </ul>
      </ul>
      
      <h3>Delete</h3>
      Vymaže přislušné záznamy z relační a souborové databáze. Všechny z následujích voleb berou SQL identifikátor.
      <ul>
        <li>d ... dataset</li>
        <li>e ... exit</li>
        <li>m ... method</li>
        <li>s ... selection</li>
        <li>t ... test</li>
      </ul>
      </p>
      <h1>Příkazový soubor</h1>
      Příkazový soubor obsahuje pokyny pro vykonání platformou. Předává se v parametru -file při spuštění aplikace s parametrem -a. Soubor musí mít vyplněný klíč <i>output_file</i>, kam se výsledek požadavku zapíše.
      <br> Pro přehlednost jsou komentáře napsány jen u důležitých věcí. Klíše jsou voleny tak, aby uživatel věděl, co daný klíč znamená.  <br>
      Hodnoty na první úrovni seznamu se zapisují do klíče <i>task_type</i>. Hodnoty na druhé úrovni do klíče <i>task_subtype</i>, pokud není uvedeno jinak. Hodnoty na nižších úrovních seznamu jsou klíčemi a jejich hodnota je hodnota filtru, který představují (pokud není uvedeno jinak).
      <p>
        <ul>
        <li>put</li> 
          <ul> 
            <li>dataset</li>
            <ul>
              <li>sdf_file</li>
              <li>data_file</li>
              Cesta k json souboru, ve kterém je zapsána definice datové sady. Příklad definice datové sady je uložen ve složce <i>examples</i> pod jménem <i>import_dataset_example.json</i>.
            </ul>
            <li>selection</li>
            Povinné klíče:
            <ul>
              <li>id_dataset</li>
              Jméno datové sady, ke které výběr patří.
              <li>data_file</li>
              Cesta k json souboru, ve kterém je zapsána definice výběru. Příklad definice výběru je uložen ve složce <i>examples</i> pod jménem <i>import_selection_example.json</i>.
            </ul>
            <li>user</li>
            Vytvoří pracovní jednotku.
            <ul>
              <li>username</li>
              Jméno pracovní skupiny.
              <li>information</li>
              Další informace.
            </ul>
            <li>method</li>
            <ul>
              <li>method_type</li>
              Možnosti jsou py nebo general.
              <li>file_path</li>
              Cesta k složce s metodou.
              <li>py_m_type_option</li>
              Pokud je metody typu py, pak se vybírá mezi repr a sim.
            </ul>
            
            <li>delete</li>
              <ul>
                <li>selection</li>
                <ul>
                  <li>selection_id</li>
                  <li>data_set_name</li>
                </ul>
                <li>dataset</li>
                <ul>
                  <li>dataset_name</li>
                </ul>
                <li>test</li>
                <ul>
                  <li>test_id</li>
                </ul>
                <li>method</li>
                <ul>
                  <li>method_id</li>
                </ul>
              </ul>
            </ul>
            <li>get</li>
            <ul>
              <li>test</li>
              <ul>
                <li>full_info</li>
                Vloženo jako klíč s hodnotou True. Vypíše pro klíč <i>test_id</i> všechny informace o testu. 
                <li>all</li>
                Vloženo jako klíč s hodnotou True. Vypíše všechny testy, které proběhly.
                <li>id</li>
                SQL identifikátor testu.
                <li>user_id</li>
                SQL identifikátor pracovní skupiny
                <li>method_id</li>
                SQL identifikátor metody
                <li>test_type</li>
                Typ testu (<var>ls</var> pro lokální počítač, <var>r</var> pro vzdálené počítače, <var>mc</var> pro testy na Metacentru)
                <li>launch_date</li>
                Datum spuštění testu.
                <li>test_id</li>
                Identifkátor testu v souborové databázi. 
              </ul>
              <li>subtest</li>
              <ul>
                <li>id</li>
                SQL identifikátor subtestu v relační databázi.
                <li>test_id</li>
                SQL identifikátor testu v relační databázi.
                <li>selection_id</li>
                <li>dataset_id</li>                        
              </ul>
              <li>selection</li>
              <ul>
                <li>dataset_selection</li>
                Vloženo jako klíč s hodnotou True. Pro dané <i>id_dataset</i> vrátí všechny dostupné výběry.
                <li>metadata</li>
                Vloženo jako klíč s hodnotou True. Pro dane <i>id_dataset</i> a <i>id_selection</i> vrátí metadata výběru.
                <li>id_dataset, id_selection</li>
                Vrátí daný výběr.          
              </ul>            
              <li>user</li>
              Vrátí informace o pracovní jednotce.
              <ul>
                <li>id</li>
                SQL identifikátor v relační databázi
                <li>username</li>
                Jméno jednotky                
              </ul>
              <li>dataset</li>
              <ul>
                <li>selection_number</li>
                Vloženo jako klíč s hodnotou True. Pro dané <i>id_dataset</i> vrátí počet výběrů.
                <li>metadata</li>
                Vloženo jako klíč s hodnotou True. Pro dane <i>id_dataset</i> vrátí metadata datové sady.
                <li>all</li>
                Vloženo jako klíč s hodnotou True. Vrátí všechny datové sady.
                <li>id_dataset</li>
                Vrátí daný dataset. Pokud se v zadání vyskytuje klíč <i>sdf_file</i> vrátí SDF soubor.
              </ul>
              <li>file</li>
              <ul>
                <li>id</li>
                SQL identifikátor záznamu v relační databázi.
                <li>subtest_id</li>
                SQL identifikátor subtestu v relační databázi.                
              </ul>
              <li>method</li>
              <ul>
                <li>copy</li>
                Pro <i>method_id</i> zkopíruje metodu na místo dané výstupní cestou.
                <li>choose_methods</li>
                Vloženo jako klíč s hodnotou True. Pro dane <i>data_set_id</i> a <i>selection_id</i> vrátí metody, které zadaným kritériím odpovídají.
                <li>methods_analysis</li>
                Vrátí informace o metodě. Obsahuje: "Subtest id", "Method id", "Method type", "Load function / Method", "Score function"
                <br> Filtry jsou:
                <ul>
                  <li>method_id</li>
                  <li>method_data</li>
                  Vloženo jako klíč s hodnotou True. Dále se zadává <i>data_set_id</i> a <i>selection_id</i>.  Přidá k datům ještě informace o základní vyhodnocení na subtestu.
                  <li><i>data_set_id</i>, <i>selection_id</i></li> 
                </ul>
                <li>id</li>
                SQL identifikátor metody v relační databázi.
                <li>method_type</li>
                Možnosti na výběr jsou <i>py</i> a <i>general</i>
                <li>l_name</li>
                Jméno načítávací funkce nebo obecné metody.
                <li>s_name</li>
                Jméno ohodnocovací funkce.
                <li>all</li>
                Vloženo jako klíč s hodnotou "y". Vrátí všechny metody.                    
              </ul>
              <li>analyze</li>
              <ul>
                <li>id</li>
                SQL identifikátor záznamu v relační databázi.
                <li>subtest_id</li>
                SQL identifikátor subtestu v relační databázi.
              </ul>
              <li>molecule</li>
              <ul>
                <li>id</li>
                SQL identifikátor záznamu v relační databázi.
                <li>subtest_id</li>
                SQL identifikátor subtestu v relační databázi.   
                <li>molecule_name</li>  true_value
                <li>image</li>  
                  Vloženo jako klíč s hodnotou True. Dále se zadává <i>molecule_name</i> a <i>dataset_id</i> a <i>png_file</i>, což je cesta, kam se obrázek uloží..  
                <li>true_value</li>  
                  Vloženo jako klíč s hodnotou True. Dále se zadává <i>molecule_name</i> a <i>data_set_id</i>, vrátí skutečnou aktivitu molekuly. 
                <li>molecule_info</li>  
                  Vloženo jako klíč s hodnotou True. Dále se zadává <i>molecule_name</i> a <i>dataset_id</i>, vrátí skutečnou "Score", "Method type", "Load function / Method", "Score function",
                      "Subtest id".
              </ul>
            </ul>
            <li>initialize</li>
            <ul>
              <li>dataset_database</li>
              Vloženo jako klíč s hodnotou True. Aktualizuje souborovou databázi.
              <li>SQL_database</li>
              Vloženo jako klíč s hodnotou True. Inicializuje (promaže) relační databázi. Pro tabulky, které chcete promazat zadejte True.<br>
              Možnosti: "delete_table_tests", "delete_table_subtests", "delete_table_analyzes", "delete_table_users", "delete_table_files", "delete_table_molecules", "delete_table_methods"
            </ul>
         </ul>
      </p>
      
      <!-- powered by -->   
      <h3>Vystavěný na:</h3> 
        <div class="row">
          {% for library in LIBRARIES %}
           <div class="col-md-3">
              <h4>{{ library[2] }}</h4>
              <a href="{{ library[0] }}" class="thumbnail">
                <img style="max-height:80px;" src="{{ url_for('static', filename=library[1]) }}" alt="{{ library[2] }}">
              </a>
            </div>
          {% endfor %} 
        </div>  
</div>

 
{% endblock %}