{% extends "main.html" %}
{% block body_1 %}

<h3>Download method: </h3>

<div class="container">
  <form class="form-horizontal" action="{{ url_for('logged_download_method') }}" method="post">  
    <div class="form-group">
      <label for="id_dataset" class="col-sm-2 control-label">Choose method:</label>
      <div class="col-sm-10">
        <select class="form-control" id="method_item" name="method_item">
          {% for method in methods %}
            <option>{{ method[0] : method[1] : method[2] : method[3] }}</option>
          {% endfor %}
         </select>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Download</button>
  </form>
</div>
{% endblock %}