{% extends "main.html" %}
{% block body_1 %} 

<style type="text/css">
.pre-scrollable {
    max-height: 400px;
    overflow-y: scroll;
}
</style>

<h2>Method comparison: </h2>
{% set i = 0 %}       

<h3>Selections ({{ data_set_selection_values|length }}):</h3>

<div class="container-fluid">
    {%set l = 0%}
    {% for key, values  in data_set_selection_values.items() %}   
    {%set l = l + 1%}
    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapse{{l}}" aria-expanded="false" aria-controls="collapse{{l}}">
     {{key}} 
    </button>
    <div class="collapse" id="collapse{{l}}">
      <div class="well">
         <!-- context -->        
        <!-- maximum values -->
        {% set i = 0 %}  
        <h4>Maximal: </h4>
        <dl class="dl-horizontal">
          {% for val in values['maxim_values'] %}
            <dt>{{mms_names[loop.index0]}}: </dt>
            <dd> {{ val }}</dd>
            <dd> {{ values['maxim_names'][loop.index0] }}</dd>
          {% endfor %}
        </dl> 
        <!-- minimum values -->
        {% set i = 0 %}  
        <h4>Minimal: </h4>
        <dl class="dl-horizontal">
          {% for val in values['minim_values'] %}
            <dt>{{mms_names[loop.index0]}}: </dt>
            <dd> {{ val }}</dd>
            <dd> {{ values['minim_names'][loop.index0] }}</dd>
          {% endfor %}
        </dl> 
        <!-- avg values -->
        {% set i = 0 %}  
        <h4>Average: </h4>
        <dl class="dl-horizontal">
          {% for val in values['avg_values'] %}
            <dt>{{mms_names[loop.index0]}}: </dt>
            <dd> {{ val }}</dd>
          {% endfor %}
        </dl>  
        
        <!-- analyze table -->
        <h1> Analyzes </h1> 
        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-bordered">
              <!-- table headers -->
              <tr>
                {% for header in analyze_names %}
                  <th> {{ header }} </th>
                {% endfor %}
              </tr>
              <!-- table rows -->
              <tbody id="fbody_{{l}}">
              {% for row in values['analyze_rows'] %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                    <td> {{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <h1> Molecules </h1> 
        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-bordered">
              <!-- table headers -->
              <tr>
                <th> Name </th>
                {% for header in values['molecules_function'] %}
                  <th> {{ header }} </th>
                {% endfor %}
              </tr>
              <!-- table rows -->
              <tbody id="fbody_{{l}}">
              {% for row_name, row in values['molecules_rows'].items() %}
                <tr>
                  <!-- row cells -->
                  <td> {{ row_name }}</td>
                  {% for cell in row %}
                    <td> {{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
   {% endfor %}
</div>  

<h3>Methods ({{ methods|length }}):</h3>    
<div class="container-fluid">
    {%set l = 0%}
    {% for key, values  in methods.items() %}   
    {%set l = l + 1%}
    <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseMethod{{l}}" aria-expanded="false" aria-controls="collapseMethod{{l}}">
     {{key}} 
    </button>
    <div class="collapse" id="collapseMethod{{l}}">
      <div class="well">
         <!-- context -->        
        <!-- information values -->
        {% set i = 0 %}  
        <h4>Informations: </h4>
        <dl class="dl-horizontal">
          {% for k, val in values['information'].items() %}
            <dt>{{k}}: </dt>
            <dd> {{ val }}</dd>
          {% endfor %}
          <dt>Method hit: </dt>
          <dd> {{ values['method_hit'] }}x</dd>
        </dl>     
        
        <h4> Selections </h4>
        {% for k1, v1  in values['datasets'].items() %}
          <h4>{{k1}}</h4>
          <h5>Method score: </h5>    
          <dl class="dl-horizontal">
            {% for item in v1[0] %}                  
              <dt> {{max_analyze_names[loop.index0]}} </dt>
              <dd> {{ item }}</dd>
            {% endfor %}
          </dl>   
          <h5>Balances</h5>
          <div class="pre-scrollable">
            <div class="table-responsive">
              <table class="table table-bordered">
                <!-- table headers -->
                <tr>
                  {% for header in analyze_names %}
                    <th> {{ header }} </th>
                  {% endfor %}
                </tr>
                <!-- table rows -->
                <tbody id="fbody_{{l}}">
                {% for row in v1[1] %}
                  <tr>
                    <!-- row cells -->
                    {% for cell in row %}
                      <td> {{ cell }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        
        {% endfor %} 
      </div>
    </div>
   {% endfor %}
</div>  

  
{% endblock %}