{% extends "main.html" %}
{% block body_1 %}

<h3>{{title}}: </h3>
  
<div class="container">
  <form class="form-horizontal" action="{{reference}}" method="post">    
    <div class="form-group">
      <label for="id_dataset">ID of data set:</label>
       <select class="form-control" id="data_set_id" name="data_set_id">
          {% for dataset in selections %}
            <option>{{ dataset[0] }}</option>
          {% endfor %}
        </select>
    </div>  
    <div class="form-group">
      <label for="id_selection">ID of selection:</label>
      <select class="form-control" id="selection_id" name="selection_id">
        {% if selections|length > 1 %}
          {% for selection in selections[0][1] %}
            <option>{{ selection }}</option>
          {% endfor %}
        {% endif %}
        </select>
    </div>
    {% for button in buttons %}
      <button type="submit" class="btn btn-default" name="button" value="{{button[0]}}">{{button[1]}}</button>
    {% endfor %}
  </form>
</div>

<script>

{% set i = 0 %}
$("#data_set_id").change(function() {
    var did = $(this).val()
    {% for dataset in selections %}
      if ( did == "{{ dataset[0] }}" ) {
         $("#selection_id").empty()
                            {% for selection in selections[i][1] %}
                                .append("<option selected='selected' value='{{ selection }}'>{{ selection }}</option>")
                            {% endfor %}
                            {% if selections[i][1]|length > 0 %}
                            .val("{{ selections[i][1][0] }}")
                            {% endif %}
   
      
    }
    {% set i = i + 1 %}
    {% endfor %} 
   
});
;



</script>

{% endblock %}