{% extends "main.html" %}
{% block body_1 %} 
 
<ul class="nav nav-tabs" role="tablist">                                    
    <li role="presentation" class="active"><a href="#tests" aria-controls="tests" role="tab" data-toggle="tab">Tests</a></li>
    <li role="presentation"><a href="#meds" aria-controls="meds" role="tab" data-toggle="tab">Used methods</a></li>
</ul>  

<div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="tests">  
  <!-- search box -->

    
    <form class="form-horizontal" action="{{ url_for('logged_get_test') }}" method="post">   
    <!-- table -->     
    <br>
        <div class="input-group">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input type="text" class="form-control" id="searchInput1" name="searchInput1">
        </div>
        <br>      
       <div class="pre-scrollable">
        <div class="table-responsive table-bordered header-fixed">
          <table class="table" id="dataTable">
            <!-- table headers -->    
            <tr>
              {% for header in HEADERS_TABLE_TESTS %} 
                {% if loop.first %}
                {% else %}                              
                  <th> {{ header }} </th>
                {% endif %}                
              {% endfor %}
            </tr>
            <!-- table rows -->  
            <tbody id="ftbody">
            {% set i = 0 %}    
            {% for row in RESULTS_TABLE_TESTS %}
              <tr>
                <!-- row cells -->
                {% for cell in row %} 
                  {% if loop.first %}
                  {% else %}                
                    <td> {{ cell }}</td>
                  {% endif %}                    
                {% endfor %}
                {% set bt_name = 'bt_' + i|string %}
                {% set i = i + 1 %} 
                <td><button type="submit" name="{{ bt_name }}" data-toggle="tooltip" data-placement="left" title="Detail on test">
                      <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                    </button></td>
              </tr>
            {% endfor %}
            </tbody>  
          </table>
        </div>
      </div>
      <br>
      <div class="container-fluid"> 
        <button type="submit" class="btn btn-primary btn-block" name="csv_tests">Export table to CSV</button>
    </div>
   </form> 
    <p>
      ls = Local computer serial, lp = Local computer parallel, m = Metacentrum, r = Remote computers
    </p>
     </div>     
     <div role="tabpanel" class="tab-pane" id="meds">
      
      
      
      <form class="form-horizontal" action="{{ url_for('logged_get_test') }}" method="post">   
        <!-- table --> 
        <br>
        <div class="input-group">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input type="text" class="form-control" id="searchInput2" name="searchInput2">
        </div>
        <br>     
          <div class="pre-scrollable">
            <div class="table-responsive table-bordered header-fixed">
              <table class="table" id="dataTable">
                <!-- table headers -->    
                <tr>
                  {% for header in HEADERS_TABLE_METHODS %}
                   {% if loop.first %}
                   {% else %}                              
                     <th> {{ header }} </th>
                   {% endif %} 
                  {% endfor %}
                </tr>
                <!-- table rows -->  
                <tbody id="fmbody">
                {% set i = 0 %}    
                {% for row in RESULTS_TABLE_METHODS %}
                  <tr>
                    <!-- row cells -->
                    {% for cell in row %}
                      {% if loop.first %}
                      {% else %}                
                        <td> {{ cell }}</td>
                      {% endif %}
                    {% endfor %}
                    {% set bt_name = 'meds_' + i|string %}
                    {% set i = i + 1 %} 
                    <td><button type="submit" name="{{ bt_name }}" data-toggle="tooltip" data-placement="left" title="Detail on method">
                          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                        </button></td>
                  </tr>
                {% endfor %}
                </tbody>  
              </table>
            </div>
          </div>
          <br>
          <div class="container-fluid">
              <button type="submit" class="btn btn-primary btn-block" name="csv_methods">Export table to CSV</button>
          </div>
      </form>
    </div>
  </div>
<script>   

$("#searchInput1").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#ftbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
});
</script>
<script>   

$("#searchInput2").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fmbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
});


$("#searchInput3").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fgbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
});
</script>

{% endblock %}