{% extends "main.html" %}
{% block body_1 %} 



<ul class="nav nav-tabs" role="tablist">                                    
    <li role="presentation" class="active"><a href="#loads" aria-controls="loads" role="tab" data-toggle="tab">Loading functions</a></li>
    <li role="presentation"><a href="#scors" aria-controls="scors" role="tab" data-toggle="tab">Scoring functions</a></li>
    <li role="presentation"><a href="#gens" aria-controls="gens" role="tab" data-toggle="tab">General methods</a></li>
</ul>  


  

<div class="tab-content">
   <div role="tabpanel" class="tab-pane active" id="loads">  
   
    
    <form class="form-horizontal" action="{{ url_for('logged_get_method') }}" method="post"> 
    <!-- search box -->
    <br>
    <div class="input-group">
      <div class="input-group-addon">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
      <input type="text" class="form-control" id="searchInput1" name="searchInput1">
    </div>  
    <br>
      <!-- table -->     
        <div class="pre-scrollable">
          <div class="table-responsive table-bordered header-fixed">
            <table class="table" id="dataTable">
              <!-- table headers -->    
              <tr>
                {% for header in HEADERS_TABLE_LOADS %}
                   {% if loop.first %}
                   {% else %}                              
                     <th> {{ header }} </th>
                   {% endif %} 
                {% endfor %}
              </tr>
              <!-- table rows -->  
              <tbody id="flbody">
              {% set i = 0 %}    
              {% for row in RESULTS_TABLE_LOADS %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                    {% if loop.first %}
                    {% else %}                
                      <td> {{ cell }}</td>
                    {% endif %}
                  {% endfor %}
                  {% set bt_name = 'dll_' + i|string %}
                  {% set i = i + 1 %} 
                  <td><button type="submit" name="{{ bt_name }}" data-toggle="tooltip" data-placement="left" title="Detail on loading funtion">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                      </button></td>
                </tr>
              {% endfor %}
              </tbody>  
            </table>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <form class="form" action="{{ url_for('logged_get_method')}}" method="post">  
            <button type="submit" class="btn btn-primary btn-block" name="csv_loading" id="csv_loading">Export table to CSV</button>
          </form>
        </div>
      </form>
     </div>     
     <div role="tabpanel" class="tab-pane" id="scors">
      
     
      
      <form class="form-horizontal" action="{{ url_for('logged_get_method') }}" method="post">   
        <!-- table --> 
        <br>
        <div class="input-group">
          <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
          <input type="text" class="form-control" id="searchInput2" name="searchInput2">
        </div>
        <br>     
          <div class="pre-scrollable">
            <div class="table-responsive table-bordered header-fixed">
              <table class="table" id="dataTable">
                <!-- table headers -->    
                <tr>
                  {% for header in HEADERS_TABLE_SCORES %}
                     {% if loop.first %}
                     {% else %}                              
                       <th> {{ header }} </th>
                     {% endif %} 
                  {% endfor %}
                </tr>
                <!-- table rows -->  
                <tbody id="fsbody">
                {% set i = 0 %}    
                {% for row in RESULTS_TABLE_SCORES %}
                  <tr>
                    <!-- row cells -->
                    {% for cell in row %}
                      {% if loop.first %}
                      {% else %}                
                        <td> {{ cell }}</td>
                      {% endif %}
                    {% endfor %}
                    {% set bt_name = 'dls_' + i|string %}
                    {% set i = i + 1 %} 
                    <td><button type="submit" name="{{ bt_name }}" data-toggle="tooltip" data-placement="left" title="Detail on scoring funtion">
                          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                        </button></td>
                  </tr>
                {% endfor %}
                </tbody>  
              </table>
            </div>
          </div>
          <br>
          <div class="container-fluid">
            <form class="form" action="{{ url_for('logged_get_method') }}" method="post">  
              <button type="submit" class="btn btn-primary btn-block" name="csv_scoring" id="csv_scoring">Export table to CSV</button>
            </form>
          </div>
      </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="gens">
      
 
      
      <form class="form-horizontal" action="{{ url_for('logged_get_method') }}" method="post">   
        <!-- table -->     
          <br>
          <div class="input-group">
            <div class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
            <input type="text" class="form-control" id="searchInput3" name="searchInput3">
          </div>
          <br>          
          <div class="pre-scrollable">
            <div class="table-responsive table-bordered header-fixed">
              <table class="table" id="dataTable">
                <!-- table headers -->    
                <tr>
                  {% for header in HEADERS_TABLE_GENERAL %}
                     {% if loop.first %}
                     {% else %}                              
                       <th> {{ header }} </th>
                     {% endif %} 
                  {% endfor %}
                </tr>
                <!-- table rows -->  
                <tbody id="fgbody">
                {% set i = 0 %}    
                {% for row in RESULTS_TABLE_GENERAL %}
                  <tr>
                    <!-- row cells -->
                    {% for cell in row %}
                      {% if loop.first %}
                      {% else %}                
                        <td> {{ cell }}</td>
                      {% endif %}
                    {% endfor %}
                    {% set bt_name = 'gs_' + i|string %}
                    {% set i = i + 1 %} 
                    <td><button type="submit" name="{{ bt_name }}" data-toggle="tooltip" data-placement="left" title="Detail on general method">
                          <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                        </button></td>
                  </tr>
                {% endfor %}
                </tbody>  
              </table>
            </div>
          </div>
          <br>
          <div class="container-fluid">
            <form class="form" action="{{ url_for('logged_get_method') }}" method="post">  
              <button type="submit" class="btn btn-primary btn-block" name="csv_general" id="csv_general">Export table to CSV</button>
            </form>
          </div>
      </form>
    </div>
    
  </div>
  


<script>

function filteredRow (data, rows)   {     
    //Recusively filter the jquery object to get results.
    fileteredRows = rows.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;       });
    return fileteredRows;

}    

$(document).ready(
    
)

$("#searchInput1").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#flbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    filteredRow(data, jo)
    //show the rows that match.
    .show();
    return false;
}); 

$( "#searchInput1" ).on( "submit", function( event ) {
  event.stopPropagation();
});

$( "#searchInput1" ).submit(function(e){
    return false;
});

$("#searchInput2").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fsbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
     filteredRow (data, jo)
    //show the rows that match.
    .show();
    return false;
});

$( "#searchInput2" ).on( "submit", function( event ) {
  event.stopPropagation();
});

 $( "#searchInput2" ).submit(function(e){
    return false;
});


$("#searchInput3").keyup(function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fgbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    filteredRow (data, jo)
    //show the rows that match.
    .show();
    return false;
});


$( "#searchInput3" ).on( "submit", function( event ) {
  event.stopPropagation();
});

$( "#searchInput3" ).submit(function(e){
    return false;
});
</script>

{% endblock %}