{% extends "main.html" %}
{% block body_1 %} 
                         
  <h2 align="center" st>
    <br>
    <br>
    <br>
    <br>
    ID of your query is: {{ ID }}
  </h2>
  <h3 align="center" st>
  You can check the result of your query in <a href="{{ url_for('query_done_site') }}">here</a>.
  </h3>
{% endblock %}