{% extends "main.html" %}
{% block body_1 %} 

<h3 style="text-align: center;">Known actives on data-set {{ dataset_name }} in {{k_value}} molecules </h3>      
{% set i = 0 %}       

<style>    
text {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.name {
  font-weight: bold;
}

.about {
  fill: #777;
  font-size: smaller;
}

.link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



</style>

<!-- selection options -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <select class="form-control" title="Selection: " id="selectSelection">
        {% set i = 0 %}
        <!-- selection ID, known_actives dict -->
        {% for key, value in selections.items() %}          
          <option value="{{key}}">{{key}}</option>
        {% endfor %}        
      </select>
    </div>
  </div>
</div>
<br>
            
                         
{% for key, value in selections.items() %}
<!-- div for every selection -->
<div class="option_{{key}}" style="display: none;">
    {% set l = 0 %}
    <!-- tabs -->
    <!-- known active, methods dict -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <select class="form-control" title="Molecule: " id="selectKnownActive_{{key}}">
            {% set i = 0 %}
            <!-- selection ID, known_actives dict -->
            {% for key1, value1 in value.items() %}        
              <option value="{{key}}_{{key1}}">{{key1}}</option>
            {% endfor %}        
          </select>
        </div>
      </div>
    </div>
    <br>
    {% for key1, value1 in value.items() %}
      <!-- div for every selection -->
      <div class="option_{{key}}_{{key1}}" style="display: none;">
          {% set l = 0 %}
          <!-- tabs -->
          <!-- known active, methods dict -->
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-lg-offset-2">
                <button type="button" class="btn btn-default" name="detail_of_molecule" id="bt_{{key}}_{{key1}}">
                  Details on molecule
                </button>
              </div>
              <div class="col-lg-3 col-lg-offset-2">
                <select class="form-control" name="method_choice" title="Method choice" id="selectMethods_{{key}}_{{key1}}">
                  {% for key2, value2 in value1.items() %}
                    <option value="{{key2}}" >{{ key2 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <div class="table-responsive table-bordered header-fixed">
                  <table class="table" id="dataTable">
                    <!-- table headers --> 
                    <tr>
                      <th> Method\Molecules </th> 
                      <th> Active </th>
                      <th> Inactive</th>
                    </tr>
                    <!-- table rows -->  
                    <tbody id="fbody">
                      {% for key2, value2 in value1.items() %}
                      <tr>             
                          <td>{{ key2 }}</td>
                          <td>{{ value2['active']|length }}</td>
                          <td>{{ value2['inactive']|length }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>  
                  </table>
                </div>      
              </div>
            </div>
          </div>
      </div>
      {% endfor %}
</div>
{% endfor %}
<br>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="tableActive">
          <!-- table headers --> 
          <tr>
            <th> Active molecules</th>
          </tr>
          <!-- table rows -->  
          <tbody id="fbodyAct">
          </tbody>  
        </table>
      </div>      
    </div>
    <div class="col-lg-6">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="tableInactive">
          <!-- table headers --> 
          <tr>
            <th> Inactive molecules</th>
          </tr>
          <!-- table rows -->  
          <tbody id="fbodyInact">
          </tbody>  
        </table>
      </div>      
    </div>
  </div>
</div>


            
           

<script>
$("#selectSelection").change(function() {
    var did = $(this).val()
    {% for key, value in selections.items() %} 
      if ( did == "{{ key }}" ) {
        {% for keyl, valuel in selections.items() %}
          {% if key == keyl %}
            $(".option_{{keyl}}").show();
          {% else %}
            $(".option_{{keyl}}").hide();
          {% endif %}
        {% endfor %}
         }
    {% endfor %}    
});
{% for key, value in selections.items() %}
  $("#selectKnownActive_{{key}}").change(function() {
    var did = $(this).val()
    {% for key1, value1 in value.items() %} 
      if ( did == "{{key}}_{{key1}}" ) {
         {% for keyl, valuel in value.items() %}
          {% if key1 == keyl %}
            $(".option_{{key}}_{{keyl}}").show();
          {% else %}
            $(".option_{{key}}_{{keyl}}").hide();
          {% endif %}
        {% endfor %}
         }
    {% endfor %}    
});
{% endfor %}

{% for key, value in selections.items() %}
  {% for key1, value1 in value.items() %} 
    $("#selectMethods_{{key}}_{{key1}}").change(function() {
      var did = $(this).val();
        {% for key2, value2 in value1.items() %}
          if (did == "{{key2}}") {
            $("#fbodyAct").empty()
              {% for mol in value2['active'] %}
                .append($("<tr>").attr("class", "clickable-row").append($("<td>").text({{mol}}))
              {% endfor %};
            $("#fbodyInact").empty()
              {% for mol in value2['inactive'] %}
                .append($("<tr>").attr("class", "clickable-row").append($("<td>").text({{mol}}))
              {% endfor %};                  
          }
        {% endfor %}
    });
    $("#bt_{{key}}_{{key1}}").click(function() {
        var url = "/molecule_details/" + {{key1}} + "/t{{dataset_name}}.html"
        window.open(url);
    });
    
  {% endfor %}    
{% endfor %}

</script>
{% endblock %}
