{% extends "basic_layout.html" %}


{% block header %} 
<style>
.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.pre-scrollable {
    max-height: auto;
    overflow-y: scroll;
}

.clickable-row {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 350px;
  height: 350px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


</style>   


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">  
    <li><a href="{{url_for('main_site')}}"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home </a></li>  
    {% if session.logged_in %}
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">   Method  <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="dropdown-header">Menu for operations with methods:</li>
          <li><a href="{{url_for('logged_put_method')}}"> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add</a></li>
          <li><a href="{{url_for('logged_get_method')}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List</a></li>
        </ul>
      </li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">   Data-set   <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="dropdown-header">Menu for operations with data-sets:</li>
          <li><a href="{{url_for('logged_put_data_set')}}"> <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Add</a></li>
          <li data-toggle="modal" data-target="#myModal"><a href="{{url_for('logged_get_data_set')}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List</a></li>
        </ul>
      </li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">   Test   <span class="caret"></span></a>
        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-header">Menu for operations with tests:</li>
          <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span> Launch</a>
  					<ul class="dropdown-menu">
              <li><a href="{{url_for('logged_run_mc')}}">Metacentrum</a></li>
              <li><a href="{{url_for('logged_run_rc')}}">Remote computers</a></li>
              <li><a href="{{url_for('logged_run_ls')}}">Local computer</a></li>
  					</ul>
  				</li>
          <li><a href="{{url_for('query_done_site')}}"> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Running</a></li>
          <li><a href="{{url_for('logged_get_test')}}"> <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> Results</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" id="dropdownMenu1" aria-haspopup="true" aria-expanded="false">   Analysis   <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="dropdown-header">Analysis operations:</li>
          <li><a href="{{url_for('choose_selection')}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Compare methods/selections</a></li>
          <li><a href="{{url_for('choose_n_selections')}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Compare selections</a></li>
          <li><a href="{{url_for('choose_datasets')}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Compare data-sets and methods</a></li>
          <li><a href="{{url_for('choose_tests')}}"> <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Export test analysis to CSV</a></li>
          <li><a href="{{url_for('show_export_analysis')}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Show external analysis</a></li>
          <li><a href="{{url_for('some_analysis')}}"> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> External analysis</a></li>
        </ul>
      </li>
    {% endif %}
      <li><a href="{{url_for('documantation')}}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Documentation (CZ)</a></li>
    </ul>
   {% if session.logged_in %}
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Signed in as {{ session.username }}</p></li> 
      <li><a href="/logout.html">Log out</a></li>
    </ul> 
  {% endif %}
</div><!-- /.navbar-collapse -->
{% endblock %}       
{% block body %}
<div style="margin-left:20px; margin-right: 20px;">
     {% block body_1 %} {% endblock %}
</div>         

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">This action can take some time</h4>
      </div>
       <div class="modal-body">
        {% if message %}
        <p>
          {{message}}
        </p>
        {% endif %} 
         <div class="loader" style="margin:0 auto;"></div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
       

        
<script>

(function($){
          	$(document).ready(function(){
          		$('ul.dropdown-menu [data-toggle=dropdown]').on('click', function(event) {
          			event.preventDefault(); 
          			event.stopPropagation(); 
          			$(this).parent().siblings().removeClass('open');
          			$(this).parent().toggleClass('open');
          		});
          	});
          })(jQuery);

jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        var currentRow=$(this).closest("tr"); 
        var name=currentRow.find("td:eq(0)").text();
        var url = "/molecule_details/" + name.trim() + "/t{{data_set_id}}.html"
        window.open(url);
    });
});
jQuery(document).ready(function($) {
    $(".clickable-row2").click(function() {
        var currentRow=$(this).closest("tr"); 
        var name=currentRow.find("td:eq(0)").text();
        var url = "/molecule_details/" + name.trim() + "/{{data_set_id}}.html"
        window.open(url);
    });
});
</script>
        
{% endblock %}
