{% extends "main.html" %}
{% block body_1 %} 

<h3>Analyze methods and data-sets: </h3>      
{% set i = 0 %}       

<style>
.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}

.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

</style>





<div class="contentDiv">  

<form class="form-horizontal" action="{{reference}}" method="post">   
  <!-- show options -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <select id="an_option" name="an_option" class="form-control">
          {% for item in analyze_names %} 
            <option value="{{item}}">{{item}}</option>
          {% endfor %}
        </select>                          
      </div>
      <div class="col-md-4">
        <select id="typ_option" name="typ_option" class="form-control">
          {% for item in typ_option %} 
            <option value="{{item}}">{{item}}</option>
          {% endfor %}
        </select>                          
      </div>       
      <div class="col-md-4">
         <button type="submit" class="btn btn-primary btn-block" name="change_content">Change content</button>           
      </div>
    </div>
    <br>
    {% if not external %}
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label class="sr-only" for="inputMolAmount">Amount molecules</label>
          <div class="input-group">
            <input type="text" class="form-control" id="inputMolAmount" name="inputMolAmount" placeholder="Molecules">
            <div class="input-group-addon"># best</div>
          </div>
        </div>                          
      </div>
      <div class="col-md-4 col-md-offset-4">
         <button type="submit" class="btn btn-primary btn-block" name="export_analysis">Export for external analysis</button>           
      </div>
    </div>
    {% endif %}
  </div>
  <br>
  <!-- table -->     
    <div class="pre-scrollable">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="dataTable">
          <!-- table headers --> 
          <tr>
            <th> Data-sets names </th>
            {% for header in method_names %}
              <th> {{ header }} </th>
            {% endfor %}
          </tr>
          <!-- table rows -->  
          <tbody id="fbody">
          {% for row in analyze_results %}
            <tr>
              <!-- row cells -->
              {% for cell in row %}
                {% if loop.first %}
                   <td> {{ cell }}</td>
                {% else %}    
                   <td> {{ cell[an][typ] }}</td>
                {% endif %}                      
              {% endfor %} 
            </tr>
          {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block" name="csv_things">Export table to CSV</button>
    {% for dataset in datasets_names %}
      <input type="hidden" name="dataset_{{dataset}}">
    {% endfor %}
    
    {% for method in methods_ids %}
      <input type="hidden" name="method_{{method}}">
    {% endfor %}
  </form>
</div>
<div class="graph-div">
 <svg width="900" height="700" id="chart" style="display: block; margin: auto;"> </svg>      
</div>



<script>
 
$(document).ready(function() {
    $('#an_option').val("{{an}}").change();
    $('#typ_option').val("{{typ}}").change();
    $('#inputMolAmount').val("{{amount}}").change();
});

function changeContent() {
   var an = $('#an_option').val() ;
   var typ = $('#typ_option').val() ;
   var arr_name = an + "-" + typ;
   var sub_array = arr[arr_name];
   $('#fbody').empty().end();   
}

var data = [{% for method in methods %}
        {"id": "{{method['name']}}", 
        "values":[{% for dataset in method["values"] %}
                {"dataset":"{{dataset[0]}}", "value": {{dataset[1][typ]}}}{% if not loop.last %},{% endif %}    
            {% endfor %}
         ]}{% if not loop.last %},{% endif %}
      {% endfor %}
]



// svg
var svg = d3.select("#chart"),
    margin = {top: 20, right: 80, bottom: 30, left: 50},
    width = svg.attr("width") - margin.left - margin.right,
    height = svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");


var x = d3.scalePoint().rangeRound([0, width]).padding([0]),
    y = d3.scaleLinear().range([height, 0]),
    z = d3.scaleOrdinal(d3.schemeCategory10);

var line = d3.line()
    .curve(d3.curveLinear)
    .x(function(d) { return x(d.dataset); })
    .y(function(d) { return y(d.value); });
    

x.domain([{% for ds in datasets %}"{{ds}}"{% if not loop.last %},{% endif %}{% endfor %}]);
y.domain([
    0,
    d3.max(data, function(c) { return d3.max(c.values, function(d) { return d.value; }); })
]);

z.domain(data.map(function(c) { return c.id; }));

g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

g.append("g")
    .attr("class", "axis axis--y")
    .call(d3.axisLeft(y))
  .append("text")
    .attr("transform", "rotate(-90)")
    .attr("y", 6)
    .attr("dy", "0.71em")
    .attr("fill", "#000")
    .text("Score");

var city = g.selectAll(".method")
  .data(data)
  .enter().append("g")
    .attr("class", "method");

city.append("path")
    .attr("class", "line")
    .attr("d", function(d) { return line(d.values); })
    .style("stroke", function(d) { return z(d.id); });

city.append("text")
    .datum(function(d) { return {id: d.id, value: d.values[d.values.length - 1]}; })
    .attr("transform", function(d) { return "translate(" + x(d.value.dataset) + "," + y(d.value.value) + ")"; })
    .attr("x", 3)
    .attr("dy", "0.35em")
    .style("font", "10px sans-serif")
    .text(function(d) { return d.id; });


</script>
{% endblock %}