{% extends "main.html" %}
{% block body_1 %} 

<h3>Method comparison: </h3>
<h4>Dataset: {{ data_set_id }}      Selection: {{ selection_id }} </h4>      
{% set i = 0 %}       
  
<style>
.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-lg-3 {
     display: inline-block;
     float: none;
}
.row-fluid .col-lg-4 {
     display: inline-block;
     float: none;
}
.row-fluid .col-lg-6 {
     display: inline-block;
     float: none;
}
.row-fluid .col-lg-12 {
     display: inline-block;
     float: none;
}
.pre-scrollable_1 {
    max-height: 100%;
    overflow-y: scroll;
}
.pre-scrollable {
    max-height: 400px;
    overflow-y: scroll;
}

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}



body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}

.box .center {
  stroke-dasharray: 3,3;
}

.box .outlier {
  fill: none;
  stroke: #ccc;
}



</style>    
<script src="{{ url_for('static', filename='js/box.js')}}"></script>


<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#method_overview" aria-controls="method_overview" role="tab" data-toggle="tab">Methods overview</a></li>
    <li role="presentation"><a href="#method_analysis" aria-controls="method_analysis" role="tab" data-toggle="tab">Methods analysis</a></li>
 </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- methods overview -->
    <div role="tabpanel" class="tab-pane active" id="method_overview">
        <div class="container-fluid">
            {%set l = 0%}
            {% for method  in methods %}   
            {%set l = l + 1%}
            <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" data-target="#method{{l}}" aria-expanded="false" aria-controls="method{{l}}">
             {{method[0]}}
            </button>
            <div class="collapse" id="method{{l}}">
              <div class="well">
                 <!-- context -->
                <h3>Info: </h3>
                <form class="form-horizontal">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Name: </label>
                    <div class="col-sm-10">
                      <p class="form-control-static">{{method[0]}}</p>
                    </div>
                      {% for i in range(0, method[1]|length) %}
                        <label class="col-sm-2 control-label">{{ analysis_names[i] }}: </label>
                        <div class="col-sm-10">
                          <p class="form-control-static">{{ method[1][i] }}</p>
                        </div>
                      {% endfor %}
                  </div>  
                </form>
                
                <!-- molecules table -->
                <h1> Molecules </h1> 
                <div class="pre-scrollable">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <!-- table headers -->
                      <tr>
                        {% for header in molecule_names %}
                          <th> {{ header }} </th>
                        {% endfor %}
                      </tr>
                      <!-- table rows -->
                      <tbody id="fbody_{{l}}">
                      {% for row in method[2] %}
                        <tr>
                          <!-- row cells -->
                          {% for cell in row %}
                            <td> {{ cell }}</td>
                          {% endfor %}
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
           {% endfor %}
        </div>        
     </div>
    <!-- methods analysis -->
    <div role="tabpanel" class="tab-pane" id="method_analysis">
      {% set i = 0 %}
      {% set svg_width = (100 / (methods|length))|int %} 
      <div class="container-fluid">
        <div class="row-fluid">
          {% for method in methods %}
            {% set i = i + 1 %}
              <div class="col-lg-6">
                <svg width="400" height="400" id="hist_{{i}}"></svg>
              </div> 
          {% endfor %}
        </div>
      </div>         
      <svg id="boxPlot"></svg>
    </div>
    <!-- end of tabs -->

  </div>                  

</div>



           

<script>
$( window ).on( "load", function() {
    var rows = 0
    var scores = 0
    {% set i = 0 %}
      {% for method in methods %}
        {% set i = i + 1 %}
        rows = getRows("fbody_{{i}}");
        scores = getScores(rows);
        mkHistogram(scores, "hist_{{i}}") ;
     {% endfor %} 
              
})  



function isNumber(n){
    return typeof(n) != "boolean" && !isNaN(n);
}

function sum(arr) {
    var count = 0;
    for (var i = 0; i < arr.length; i++) {
        count += arr[i];
    }
    return count;
}

function mean(arr) {
      count = sum(arr);
      return count / arr.length; 
}

function median(arr) {
    var mid = arr.length / 2;
    return mid % 1 ? arr[mid - 0.5] : (arr[mid - 1] + arr[mid]) / 2;
}

function variance(arr) {
		var m = mean(arr);
		return mean(arr.map(function(num) {
			return Math.pow(num - m, 2);
		}));
}

function mkHistogram(data, idOfSVG) {
var url = "#" + idOfSVG
var formatCount = d3.format(",.0f");

var svg = d3.select(url),
    margin = {top: 10, right: 30, bottom: 30, left: 30},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var x = d3.scaleLinear()
    .rangeRound([0, width]);

var bins = d3.histogram()
    .domain(x.domain())
    .thresholds(x.ticks(20))
    (data);

var y = d3.scaleLinear()
    .domain([0, d3.max(bins, function(d) { return d.length; })])
    .range([height, 0]);

var bar = g.selectAll(".bar")
  .data(bins)
  .enter().append("g")
    .attr("class", "bar")
    .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; });

bar.append("rect")
    .attr("x", 1)
    .attr("width", x(bins[0].x1) - x(bins[0].x0) - 1)
    .attr("height", function(d) { return height - y(d.length); });

bar.append("text")
    .attr("dy", ".75em")
    .attr("y", 6)
    .attr("x", (x(bins[0].x1) - x(bins[0].x0)) / 2)
    .attr("text-anchor", "middle")
    .text(function(d) { return formatCount(d.length); });

g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

}

function getRows(idOfTable) {
     var bodyName = "#" + idOfTable 
     var rows = $(bodyName).find("tr");
     return rows;
}

function getScores(filteredRows) {
    var arr = [];
    var valu = 0
    filteredRows.each(function(){
        valu = parseFloat($(this).find("td:eq(3)").text())
        arr.push(valu); //put elements into array
    });
    return arr;
}
</script>
  
{% endblock %}