{% extends "main.html" %}
{% block body_1 %} 

  
<style>
.pre-scrollable {
    max-height: auto;
    overflow-y: scroll;
}
</style>    

<h3>Method {{ method["name"]}} </h3>      
{% set i = 0 %}      

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Information</a></li>                                    
    <li role="presentation"><a href="#ds" aria-controls="ds" role="tab" data-toggle="tab">Used data-sets and selections</a></li>
</ul>   


<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="info">
    <h3>Method information</h3>
    <dl class="dl-horizontal"> 
        <dt>Name: </dt>
        <dd> {{ method["name"]}} </dd>
        <dt>Type: </dt>
        <dd> {{ method["type"]}} </dd>
        <dt>ID: </dt>
        <dd> {{ method["id"]}} </dd>
    </dl> 
    <h4>Analysis </h4>
    <dl class="dl-horizontal">
      {% for methods_subkey, methods_subvalue in methods_details.items() %}
        <dt>{{ methods_subkey }}: </dt>
        <dd> {{ methods_subvalue }}</dd>
      {% endfor %}
    </dl> 
    <h4>Download method: </h4>
    <form class="form" action="/download_method/{{method['id']}}.html" method="post">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-md-4">  <button type="submit" class="btn btn-primary" id="downloadButton" name="download" >Download</button></div>
      </div>
    </div>
    </form>
  </div>

 
  <div role="tabpanel" class="tab-pane" id="ds">
    <!-- search box -->
    
    <br>
    <div class="input-group">
      <div class="input-group-addon">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
      <input type="text" class="form-control" id="searchInput">
    </div> 
    <br>
    
    <form class="form-horizontal" action="{{ reference }}" method="post">   
      <!-- table -->     
        <div class="pre-scrollable">
          <div class="table-responsive table-bordered header-fixed">
            <table class="table" id="dataTable">
              <!-- table headers -->    
              <tr>
                {% for header in HEADERS_TABLE %}
                   {% if loop.first %}
                   {% else %}                              
                     <th> {{ header }} </th>
                   {% endif %} 
                {% endfor %}
              </tr>
              <!-- table rows -->  
              <tbody id="fbody">
              {% set i = 0 %}    
              {% for row in RESULTS_TABLE %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                     {% if loop.first %}
                     {% else %}                              
                      <td> {{ cell }}</td>
                     {% endif %} 
                  {% endfor %}
                  {% set bt_name = 'bt_' + i|string %}
                  {% set i = i + 1 %} 
                  <td><button type="submit" name="{{ bt_name }}">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                      </button></td>
                </tr>
              {% endfor %}
              </tbody>  
            </table>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <form class="form" action="{{ url_for('details_on_method', method_id=method['id']) }}" method="post">  
            <button type="submit" class="btn btn-primary btn-block" name="csv_methods">Export table to CSV</button>
          </form>
        </div>
      </form>
    </div>
  
  <!-- scripts -->
<!-- http://jsfiddle.net/ukW2C/3/ -->
<script>   

$("#searchInput").on( "change",function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
});

</script>
{% endblock %}