{% extends "main.html" %}
{% block body_1 %}
<div>

   <!-- context -->
        <!-- subtest info -->
        <h3>Molecule details: </h3>
        <form class="form-horizontal">
          <div class="form-group">
              {% for molecule_subkey, molecule_subvalue in molecule.items() %}
                
                  <label class="col-sm-2 control-label">{{ molecule_subkey }}: </label>
                  <div class="col-sm-10">
                    <p class="form-control-static">{{ molecule_subvalue }}</p>
                  </div>
                
              {% endfor %}
          </div>  
        </form>
        
        {% if IMG %}
        <!-- image -->
        <img class="img-responsive center-block" src="{{ url_for('static', filename=image_path) }}" alt="Image of the molecule" class="img-rounded">
        {% else %}
        <p>
          {{ERROR}}
        </p>
        {% endif %}
        
        <!-- molecules table -->
        <h1> Used in subtests: </h1> 
        <div class="pre-scrollable">
          <div class="table-responsive table-condensed">
            <table class="table table-condensed">
              <!-- table headers -->
              <tr>
                {% for header in names %}
                  <th> {{ header }} </th>
                {% endfor %}
              </tr>
              <!-- table rows -->
              {% for row in molecules %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                    <td> {{ cell }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        

</div>

{% endblock %}