{% extends "main.html" %}
{% block body_1 %} 
<h1><br></h1>
<h1 style="text-align: center;">Add data-set: </h1>
<h1><br></h1>
<form class="form-horizontal" action="{{ url_for('logged_put_data_set') }}" method="post" enctype=multipart/form-data>
  <div class="form-group">
    <label for="sdf_file" class="col-sm-2 control-label">SDF file: </label>
    <div class="col-sm-10">
     <input type="file" id="sdf_file" name="sdf_file" accept=".sdf">
    </div>
  </div>
  <div class="form-group">
    <label for="info_file" class="col-sm-2 control-label">Data-set info file: </label>
    <div class="col-sm-10">
     <input type="file" id="info_file" name="info_file" accept=".json">
    </div>
  </div>
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add new data-set" data-toggle="modal" data-target="#myModal">
      </div>
    </div>
  </div>
</form> 
<h3 style="text-align:center;"> Notice </h3>
<p style="text-align:center; font-size: 20px;">An example of a data-set info file in GIT: <a href="https://bitbucket.org/atipak/vsb_new_version/src/12def2d81982e0471983a2c3b4c9e9e7e9ace70c/example/import_dataset_example.json?at=master&fileviewer=file-view-default">import_dataset_example.json</a></p>
<p style="text-align:center; font-size: 20px;">
   The name of inserting data-set will be the name of the data-set info file. 
</p> 
{% endblock %}