{% extends "main.html" %}
{% block body_1 %} 
<h1><br></h1>
<h1 style="text-align: center;">Add method </h1>
<h1><br></h1>
{% if ERROR %}
      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <p class="error"><strong>Error:</strong> {{ ERROR }} </p>
        </div>
      </div>
{% endif %}
<form class="form-horizontal" action="{{ url_for('logged_put_method') }}" method="post" enctype=multipart/form-data>

  <!-- method type -->
  <div class="form-group">
    <label for="method_type" class="col-sm-2 control-label">Method type: </label>
    <div class="col-sm-10">
      <div class="col-xs-4">
        <select id="method_type" class="form-control" name="method_type">
          <option>Python</option>
          <option>General</option>         
        </select>
      </div>
    </div>
  </div>
  
  <!-- py method type  -->
  <div class="form-group" id="pyMethodGroup">
    <label class="col-sm-2 control-label">Method type: </label>
    <div class="col-sm-10">
      <label class="radio-inline">
        <input type="radio" name="py_m_type_option" id="inlineRadio1" value="opt_repr" checked> 
        Load function
      </label>
      <label class="radio-inline">
        <input type="radio" name="py_m_type_option" id="inlineRadio2" value="opt_sim">
        Score function
      </label>
    </div>
  </div>
  
  <!-- file -->   
  <div class="form-group">
    <label for="info_file" class="col-sm-2 control-label">Method file: </label>
    <div class="col-sm-10">
     <input type="file" id="info_file" name="info_file" accept=".zip">
    </div>
  </div>
  
  <!-- button -->
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add new method">
      </div>
    </div>
  </div>
</form> 
<h3 style="text-align:center;"> Notice </h3>
<p style="text-align:center; font-size: 20px;">An example of a data-set info file in GIT: <a href="https://bitbucket.org/atipak/vsb_new_version/src/12def2d81982e0471983a2c3b4c9e9e7e9ace70c/test_func/?at=master">more examples</a></p>
<p style="text-align:center; font-size: 20px;">
   Like a name of method will be used the name of folder representing the method in ZIP file.
</p>
<script>
$("document").ready(function() {
    $("#method_type").on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;
        if (valueSelected == "Python") {
            $("#pyMethodGroup").show();
        }
        else {
            $("#pyMethodGroup").hide(); 
        }
});
});


</script>

{% endblock %}