{% extends "main.html" %}
{% block body_1 %} 
<h1><br></h1>
<h1 style="text-align: center;">Add selection into {{data_set_id}}: </h1>
<h1><br></h1>
<form class="form-horizontal" action="{{ url_for('logged_put_selection') }}" method="post" enctype=multipart/form-data>
  <div class="form-group">
    <label for="info_file" class="col-sm-2 control-label">Selection info file: </label>
    <div class="col-sm-10">
     <input type="file" id="info_file" name="info_file" accept=".json">
    </div>
    <input type="hidden" id="data_set_id" name="data_set_id" value="{{data_set_id}}">
  </div>
  <div class="container-fluid">     
    <div class="row">  
      <div class="col-sm-offset-2 col-md-8">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Add new selection">
      </div>
    </div>
  </div>
</form> 
<p style="text-align:center; font-size: 20px;">An example of a data-set info file in GIT: <a href="https://bitbucket.org/atipak/vsb_new_version/src/12def2d81982e0471983a2c3b4c9e9e7e9ace70c/example/import_selection_example.json?at=master&fileviewer=file-view-default">import_selection_example.json</a></p>
  
{% endblock %}