{% extends "main.html" %}
{% block body_1 %}
<!-- info block -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-offset-1">
      <h2> Test info: </h2>
      <form class="form-horizontal">
        <div class="form-group">
            {% set i = 1 %}
            {% for field in FIELDS %}
              {% set i = i + 1 %}
              <label class="col-sm-2 control-label">{{ field[0] }}: </label>
              <div class="col-sm-10">
                <p class="form-control-static">{{ field[1] }}</p>
              </div>
            {% endfor %}
        </div>  
      </form>
    </div>
  </div>
</div>
{% block body_2 %}{% endblock %}
{% endblock %}