{% extends "main.html" %}
{% block body_1 %}

  

 <h3>Method information:</h3>

  <!-- program type -->
 {% set url_one = 'logged_run_' + TYPE %}            
 
 
  <form class="form-horizontal" action="{{ url_for(url_one) }}" method="post" enctype=multipart/form-data>
    <div class="form-group">
      <label class="col-sm-2 control-label">Program type: </label>
      <div class=" col-sm-10">
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Input file of test is written in python">
            <input type="radio" name="type_option" id="rbPythonType" value="opt_python" checked>
            Python
          </label>
        </div>
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Input file of test is written in something python">
            <input type="radio" name="type_option" id="rbGeneralType" value="opt_general">
            General
          </label>
        </div>
      </div>
    </div>
 

  <!-- optimalization -->

    <div class="form-group" id="optGroup">
      <label class="col-sm-2 control-label">Optimalization: </label>
      <div class="col-sm-10">
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Optimalization option for python program">
            <input type="radio" name="optim_option" id="rbOptYes" value="opt_yes" checked>
            Yes
          </label>
        </div>
        <div class="radio-inline">
          <label data-toggle="tooltip" data-placement="top" title="Optimalization option for python program">
            <input type="radio" name="optim_option" id="rbOptNo" value="opt_no">
            No
          </label>
        </div>         
      </div>
    </div>
  

  <!-- file/repr. method -->

    <div class="form-group">
      <label class="col-sm-2 control-label" id="labelLoadGeneral">Load function / General method: </label>
      <div class="col-sm-10">
        <select class="form-control" id="file_repr_method" name="file_repr_method">
          {% for method in METHODS[0] %}
            <option>{{ method[0] }} : {{ method[1] }} : {{ method[2] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>




  <!-- similarity method -->

    <div class="form-group" id="similarityGroup">
      <label class="col-sm-2 control-label">Score function: </label>
      <div class="col-sm-10">
        <select class="form-control" id="sim_method" name="sim_method">
          {% for method in METHODS[1] %}
            <option>{{ method[0] }} : {{ method[1] }} : {{ method[2] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>


  <!-- parallel selections -->
  {% if TYPE == 'ls' %}
    <div class="form-group">
      <label class="col-sm-2 control-label">Parallel selections: </label>
      <div class="col-sm-10">
        <label class="radio-inline">
          <input type="radio" name="p_sels_option" id="inlineRadio1" value="opt_True" checked> 
          True
        </label>
        <label class="radio-inline">
          <input type="radio" name="p_sels_option" id="inlineRadio2" value="opt_False">
          False
        </label>
      </div>
    </div>
  {% endif %}
  
  
  
   <div class="form-group">
      <label class="col-sm-2 control-label">Next informations: </label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="3" name="added_information"></textarea>
      </div>
    </div>

  
  
  <!-- d/s -->
  <h3>Data-sets and selecitons information</h3>

    <div class="form-group">
      <label for="inputDataset" class="col-sm-2 control-label">Data set: </label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <select class="form-control" id="data_set_id" name="data_set_id">
            {% for dataset in selections %}
              <option>{{ dataset[0] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
      
      <!-- hidden intputs -->
      <div id="hidden_inputs">
          
      </div>
   

  
  {% block body_2 %}{% endblock %} 

      
    <div class="container-fluid">     
      <div class="row"><br><br></div>
      <div class="row">  
        <div class="col-sm-offset-2 col-md-8">
          <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
        </div>
      </div>
    </div>
  </form>  
    
  <script>

jQuery(document).ready(function($) {
    $("#labelLoadGeneral").text("Load function:")
    $("#similarityGroup").show()
    $("#optGroup").show()
    $("#rbPythonType").click(function() {       
       $("#file_repr_method").empty()
                          {% for method in METHODS[0] %}
                            {% if method[1] == "Python" %}
                              .append("<option selected='selected' value='{{ method[0] }} : {{ method[1] }} : {{ method[2] }}'>{{ method[0] }} : {{ method[1] }} : {{ method[2] }}</option>").val("{{ method[0] }} : {{ method[1] }} : {{ method[2] }}")
                            {% endif %}
                          {% endfor %}
        $("#labelLoadGeneral").text("Load function:")
        $("#similarityGroup").show()
        $("#optGroup").show()
    });
    $( "#rbPythonType" ).trigger( "click" );
    $("#rbGeneralType").click(function() {
         $("#file_repr_method").empty()
                    {% for method in METHODS[0] %}
                      {% if method[1] == "General" %}
                        .append("<option selected='selected' value='{{ method[0] }} : {{ method[1] }} : {{ method[2] }}'>{{ method[0] }} : {{ method[1] }} : {{ method[2] }}</option>").val("{{ method[0] }} : {{ method[1] }} : {{ method[2] }}")
                      {% endif %}
                    {% endfor %}
        $("#labelLoadGeneral").text("General method:")
        $("#similarityGroup").hide()
        $("#optGroup").hide()
    }); 
});



</script>
{% endblock %} 