{% extends "main.html" %}
{% block body_1 %} 

<h3>Selection comparison: </h3>
<h4>Dataset: {{ data_set_id }}      Selection: {{ selection_id }} </h4>      
{% set i = 0 %}       
  
<style>
.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}
</style>    
 
<!-- search box -->

<br>
<div class="input-group">
  <div class="input-group-addon">
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
  <input type="text" class="form-control" id="searchInput">
</div> 
<br>

<form class="form-horizontal" action="{{ reference }}" method="post">   
  <!-- table -->     
    <div class="pre-scrollable">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="dataTable">
          <!-- table headers -->    
          <tr>
            <!-- <th> # </th> -->
            {% for header in HEADERS_TABLE %}
              <th> {{ header }} </th>
            {% endfor %}
          </tr>
          <!-- table rows -->  
          <tbody id="fbody">
          {% set i = 0 %}    
          {% for row in RESULTS_TABLE %}
            <tr>
              <!-- row cells --> 
              {% for cell in row %}
                <td> {{ cell }}</td>
              {% endfor %} 
            </tr>
          {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>
</form>
  
  <!-- scripts -->
<!-- http://jsfiddle.net/ukW2C/3/ -->
<script>   

$("#searchInput").on( "change",function () {
    //split the current value of searchInput
    var data = this.value.split(" ");
    //create a jquery object of the rows
    var jo = $("#fbody").find("tr");
    if (this.value == "") {
        jo.show();
        return;
    }
    //hide all the rows
    jo.hide();

    //Recusively filter the jquery object to get results.
    jo.filter(function (i, v) {
        var $t = $(this);
        for (var d = 0; d < data.length; ++d) {
            if ($t.is(":contains('" + data[d] + "')")) {
                return true;
            }
        }
        return false;
    })
    //show the rows that match.
    .show();
});
</script>
{% endblock %}