{% extends "main.html" %}
{% block body_1 %}

<style>
.row-fluid {
    overflow: auto;
    white-space: nowrap;
}

.row-fluid .col-lg-6 {
     display: inline-block;
     float: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}
</style>

<h3>Data-set: {{ data_set_id }}  Selection: {{selection_id}} </h3>


<h1> </h1>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Information</a></li>                                    
    <li role="presentation"><a href="#train" aria-controls="train" role="tab" data-toggle="tab">Train molecules</a></li>
    <li role="presentation"><a href="#valid" aria-controls="valid" role="tab" data-toggle="tab">Validation molecules</a></li>
    <li role="presentation"><a href="#test" aria-controls="test" role="tab" data-toggle="tab">Test molecules</a></li>
    <li role="presentation"><a href="#meds" aria-controls="meds" role="tab" data-toggle="tab">Used methods</a></li>
</ul>  

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="info">
   <div class="container-fluid">
    <div align="row">
      <div class="col-md-8">
        <h1> Information </h1>
        <dl class="dl-horizontal"> 
            {% for m in metadata %}
                <dt>{{ m[0] }}: </dt>
                <dd>
                 {{ m[1] }}
                </dd>   
            {% endfor %}  
        </dl>  
      </div>
      <div class="col-md-4">
        <h1> Activity </h1>
        <svg width="250" height="250" id="pie"></svg>
      </div>
    </div>
  </div>
  <h4>Analysis: </h4>
  <dl class="dl-horizontal">
    {% for ds_subkey, ds_subvalue in ds_details.items() %}
      <dt>{{ ds_subkey }}: </dt>
      <dd> {{ ds_subvalue }}</dd>
    {% endfor %}
  </dl> 
  <h4>Download: </h4>
  <!-- download -->
  <div class="container">
    <form class="form-horizontal" action="{{url_for('show_selection_description', data_set_id=data_set_id, selection_id=selection_id)}}" method="post">    
      <input type="hidden" id="data_set_id" name="data_set_id" value="{{data_set_id}}" >  
      <input type="hidden" id="selection_id" name="selection_id" value="{{selection_id}}">
      <button type="submit" class="btn btn-primary" name="download" value="download">Download</button>
    </form>
  </div>
  </div>

   <div role="tabpanel" class="tab-pane" id="train">
    <div class="container-fluid">
      <div class="row"> 
        <div class="col-lg-6">
          <h2>Train active</h2> 
          <div class="pre-scrollable">
            <div class="table-responsive">
              <table class="table table-hover" style="float: left; " id="table_id">
                <!-- table headers -->                                                                                     
                <tr>
                    <th> name </th>
                </tr>
                <tbody id="fbody">
                <!-- table rows -->
                {% for cell in train_active %}
                  <tr class='clickable-row'>
                    <!-- row cells -->
                      <td> {{ cell }}</td>
                  </tr>
                {% endfor %}
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
           <!-- inactive -->
          <h2>Train inactive</h2> 
          <div class="pre-scrollable">
            <div class="table-responsive">
              <table class="table table-hover" style="float: left; " id="table_id">
                <!-- table headers -->                                                                                     
                <tr>
                    <th> Name </th>
                </tr>
                <tbody id="fbody">
                <!-- table rows -->
                {% for cell in train_inactive %}
                  <tr class='clickable-row'>
                    <!-- row cells -->
                      <td> {{ cell }}</td>
                  </tr>
                {% endfor %}
                </tbody>
                
              </table>
            </div>
          </div>
        </div>
     </div>
    </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="valid">
   
    <div class="container-fluid"> 
     <div class="row">
      {% set numberValid = validation_active|length + validation_inactive|length %}
      {% if numberValid > 0 %}
      <div class="col-lg-6">
         <!-- valid -->
        <h2>Validation active</h2> 
        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-hover" id="table_id">
              <!-- table headers -->                                                                                     
              <tr>
                  <th> Name </th>
              </tr>
              <tbody id="fbody">
              <!-- table rows -->
              {% for cell in validation_inactive %}
                <tr class='clickable-row'>
                  <!-- row cells -->
                    <td> {{ cell }}</td>
                </tr>
              {% endfor %}
              </tbody>
              
            </table>
          </div>
      </div>
     </div>
     <div class="col-lg-6">
         <!-- valid -->
        <h2>Validation inactive</h2> 
        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-hover" id="table_id">
              <!-- table headers -->                                                                                     
              <tr>
                  <th> Name </th>
              </tr>
              <tbody id="fbody">
              <!-- table rows -->
              {% for cell in validation_active %}
                <tr class='clickable-row'>
                  <!-- row cells -->
                    <td> {{ cell }}</td>
                </tr>
              {% endfor %}
              </tbody>
              
            </table>
          </div>
      </div>
     </div>
     {% else %}  
       <div class="col-lg-4">
        
       </div>
       <div class="col-lg-4">
         <h2>
           No validation molecules.
         </h2>
       </div>
       <div class="col-lg-4">
        
       </div>
     {% endif %}
    </div>
    </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="test">
     <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-lg-12">
           <!-- test -->    
            <h2>Test</h2> 
            <div class="pre-scrollable">
              <div class="table-responsive">
                <table class="table table-hover" id="table_id">
                  <!-- table headers -->                                                                                     
                  <tr>
                      <th> Name </th>
                  </tr>
                  <tbody id="fbody">
                  <!-- table rows -->
                  {% for cell in test %}
                    <tr class='clickable-row'>
                      <!-- row cells -->
                        <td> {{ cell }}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                  
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
   </div>
   <div role="tabpanel" class="tab-pane" id="meds">
     <div class="container-fluid">
        <form class="form-horizontal" action="{{url_for('show_selection_description', data_set_id=data_set_id, selection_id=selection_id)}}" method="post">   
      <!-- table -->     
        <div class="pre-scrollable">
          <div class="table-responsive table-bordered header-fixed">
            <table class="table" id="dataTable">
              <!-- table headers -->    
              <tr>
                {% for header in HEADERS_TABLE_MED %}
                  <th> {{ header }} </th>
                {% endfor %}
                <th> Method detail: </th>
                <th> Subtest detail: </th>
              </tr>
              <!-- table rows -->  
              <tbody id="fbody">
              {% set i = 0 %}    
              {% for row in RESULTS_TABLE_MED %}
                <tr>
                  <!-- row cells -->
                  {% for cell in row %}
                    <td> {{ cell }}</td>
                  {% endfor %}
                  {% set bt_name = 'med_' + i|string %}
                  {% set bt_name1 = 'dat_' + i|string %}
                  {% set i = i + 1 %} 
                  <td><button type="submit" name="{{ bt_name }}">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                      </button></td>
                  <td><button type="submit" name="{{ bt_name1 }}">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true">
                  </button></td>
                </tr>
              {% endfor %}
              </tbody>  
            </table>
          </div>
        </div>
        <br>
        <div class="container-fluid">
          <form class="form" action="{{url_for('show_selection_description', data_set_id=data_set_id, selection_id=selection_id)}}" method="post">  
            <button type="submit" class="btn btn-primary btn-block" name="csv_methods">Export table to CSV</button>
          </form>
        </div>
      </form>  
     </div>
   </div>
 </div>      
 
<script>

var color = d3.scaleOrdinal(["#98abc5", "#8a89a6", "#7b6888", "#6b486b", "#a05d56", "#d0743c", "#ff8c00"]);

var data = [{"label":"Train active", "value":{{train_active|length}} }, 
            {"label":"Train inactive", "value":{{train_inactive|length}} },
            {% if numberValid > 0 %}
            {"label":"Valid active", "value":{{validation_active|length}} }, 
            {"label":"Valid inactive", "value":{{validation_inactive|length}} },
            {% endif %}
            {"label":"Test", "value":{{test|length}} }];
            
var svg = d3.select("#pie"),
    width = +svg.attr("width"),
    height = +svg.attr("height"),
    radius = Math.min(width, height) / 2,
    g = svg.append("g").attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


var pie = d3.pie()
    .sort(null)
    .value(function(d) { return d.value; });

var path = d3.arc()
    .outerRadius(radius - 10)
    .innerRadius(0);

var label = d3.arc()
    .outerRadius(radius - 40)
    .innerRadius(radius - 40);

var arc = g.selectAll(".arc")
  .data(pie(data))
  .enter().append("g")
    .attr("class", "arc");

arc.append("path")
    .attr("d", path)
    .attr("fill", function(d, i) { return color(i); });

arc.append("text")
    .attr("transform", function(d) { return "translate(" + label.centroid(d) + ")"; })
    .attr("dy", "0.35em")
    .text(function(d, i) { return data[i].label; });
</script>

{% endblock %}