{% extends "main.html" %}
{% block body_1 %} 

<h3 align="center">Analysis </h3>      
{% set i = 0 %}       
  
<style>
.pre-scrollable {
    max-height: 450px;
    overflow-y: scroll;
}

</style>    

<form class="form-horizontal" action="{{url_for('some_analysis')}}" method="post"> 
   <div class="container">
    <div class="form-group">
      <label class="col-sm-2 control-label" id="labelAnalysisType">Analysis type: </label>
      <div class="col-sm-10">
        <select class="form-control" id="analysisType" class="form-control" name="analysisType">
            <option value="collapse_fingerprints">Clusters on collapse fingerprints</option>
            <option value="analysis">Clusters on subtests analysis</option>
            <option value="k_sames">Same molecules for first K</option>
            <option value="known_actives">Known actives for data-set</option>
            <option value="method_comparison">Method comparison</option>
            <option value="known_active_same_places">Clusters on fingerprints created by known actives on same places</option>
            <option value="leading_first_k">Clusters on fingerprints created by count of molecules which are leaded of known actives in first k molecules.</option>
            <option value="relative_order">Clusters on fingerprints created by relative order of active molecules</option>
            <option value="inactive_before_active">Clusterson fingerprints created by count of inactive molecules before i-th active one</option>
            <option value="relative_scores">Clusters on fingerprints created by differences between scores of two following active molecules</option>
        </select>
      </div>
    </div> 
    <div class="form-group" id="m_comparison_group">
    <div class="col-sm-10 col-sm-offset-2">
      <input type="checkbox" aria-label="Collaps to data-sets" name="dataset_option"> Collaps to data-sets <br>
    </div> 
    </div> 
     <div class="form-group" id="count_group">
      <label class="col-sm-2 control-label" id="labelAnalysisType">Windows count: </label>
      <div class="col-sm-10">
        <input type="number" aria-label="Windows count" name="windows_count" id="windows_count"  value="10" class="form-control">
      </div>
    </div>   
    <div class="form-group" id="size_group">
      <label class="col-sm-2 control-label" id="labelAnalysisType">Window size: </label>
      <div class="col-sm-10">
        <input type="number" aria-label="Window size" name="window_size" id="window_size"  value="10" class="form-control">
      </div>
    </div>  
    <div class="form-group" id="k_group">
      <label class="col-sm-2 control-label" id="labelAnalysisType">K value: </label>
      <div class="col-sm-10">
        <input type="number" aria-label="K value" name="k_value" id="k_value"  value="10" class="form-control">
      </div>
    </div> 
    <div class="form-group" id="ds_group">
      <label for="inputDataset" class="col-sm-2 control-label">Data set: </label>
      <div class="col-sm-10">
        <div class="col-xs-4">
          <select class="form-control" id="data_set_id" name="data_set_id">
            {% for dataset in datasets %}
              <option>{{ dataset }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
      </div> 
            
  <!-- table -->     
    <div class="pre-scrollable">
      <div class="table-responsive table-bordered header-fixed">
        <table class="table" id="dataTable">
          <!-- table headers --> 
          <tr>
            <th> # </th>
            {% for header in HEADERS_TABLE %}
              <th> {{ header }} </th>
            {% endfor %}
          </tr>
          <!-- table rows -->  
          <tbody id="fbody">
          {% set i = 0 %}    
          {% for row in RESULTS_TABLE %}
            <tr>
              <!-- row cells --> 
              {% set chb_name = 'checkbox_' + i|string %}
              <td><input type="checkbox" aria-label="" name="{{ chb_name }}"></td>
              {% set i = i + 1 %}
              {% for cell in row %}
                <td> {{ cell }}</td>
              {% endfor %} 
            </tr>
          {% endfor %}
          </tbody>  
        </table>
      </div>
    </div>   
    <br>
    <button type="submit" class="btn btn-default btn-block" id="getButton">Get input file</button>
  </form>
</div>
  <!-- scripts -->

<script> 

$(document).ready(function() {
    $('#analysisType').val("collapse_fingerprints")
    $('#count_group').show();
    $('#size_group').show();
    $('#k_group').hide();
    $('#ds_group').hide();
    $('#m_comparison_group').show();
});
       
$('#analysisType').on('change', function (e) {
    var optionSelected = $("option:selected", this);
    var valueSelected = this.value;
    if (valueSelected == "collapse_fingerprints")  {
        $('#size_group').show();
        $('#count_group').show();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "analysis")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "method_comparison")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "k_sames")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').show();
        $('#ds_group').hide();
        $('#m_comparison_group').hide();
    }
        else if (valueSelected == "known_active_same_places")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "leading_first_k")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').show();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "relative_order")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "inactive_before_active")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else if (valueSelected == "relative_scores")  {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').hide();
        $('#ds_group').hide();
        $('#m_comparison_group').show();
    }
    else {
        $('#size_group').hide();
        $('#count_group').hide();
        $('#k_group').show();
        $('#ds_group').show();
        $('#m_comparison_group').show();
    }
});


  
</script>
{% endblock %}