{% extends "main.html" %}
{% block body_1 %}

<style>

.bar rect {
  fill: steelblue;
}

.bar text {
  fill: #fff;
  font: 10px sans-serif;
}

</style>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Information</a></li>                                    
    <li role="presentation"><a href="#mols" aria-controls="mols" role="tab" data-toggle="tab">Molecules</a></li>
</ul>  

<!-- subtests -->
<div>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="info">
      <!-- context -->
        <!-- subtest info -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <h3>Subtest info: </h3>
              <dl class="dl-horizontal"> 
                  {% for subtest_subkey, subtest_subvalue in subtest.items() %}
                    {% if subtest_subkey is not values_ending and subtest_subkey is not names_ending %}
                      <dt>{{ subtest_subkey }}: </dt>
                      <dd>
                       {{ subtest_subvalue }}
                      </dd>   
                    {% endif %}
                  {% endfor %}  
              </dl>  
            </div>
            <div class="col-md-6">
               <div class="text-center"><h4>Relative scores: </h4> <svg width="400" height="250" id="hist"></svg> </div>
            </div>
          </div>
        </div>
        <h3>Download options: </h3>
        <form action="{{url_for('details_on_subtest', subtest_id=subtest_id)}}" method="post">
          <button type="submit" class="btn btn-primary btn-lg" id="r_file" name="r_file" value="Download result file">
            Download result file
          </button>
        </form>
    </div>   
          
      
    <div role="tabpanel" class="tab-pane" id="mols">    
        <!-- molecules table -->
        <h1> Molecules </h1> 

        <div class="pre-scrollable">
          <div class="table-responsive">
            <table class="table table-hover" id="table_id">
              <!-- table headers -->                                                                                     
              <tr>
                {% for header in names %}
                  <th> {{ header }} </th>
                {% endfor %}
              </tr>
              <tbody id="fbody">
              <!-- table rows -->
              {% for row in molecules %}
                {% set k = 0 %}
                <tr class='clickable-row'>
                  <!-- row cells -->
                  {% for cell in row %}
                    {% set k = k + 1 %}
                    {% if k == row|length %}
                      <td class="act"> {{ cell }}</td>
                    {% else %}
                      <td> {{ cell }}</td>
                    {% endif %}        
                  {% endfor %}
                </tr>
              {% endfor %}
              </tbody>
              
            </table>
          </div>
        </div>
        <h4>Chosen molecules info</h4>
        <form method="post">
        <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
             <label>
              <input type="text" class="form-control"  name="start_value" id="start_value" aria-label="Start value"> Start value (0)
             </label>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="input-group">
              <label>
                <input type="text" class="form-control" name="end_value" id="end_value" aria-label="End value"> End value ({{ molecules|length }})
              </label>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <div class="row">
          <button type="button" class="btn btn-default" id="btCalc">
            Show and calculate
          </button>
          <button type="submit" class="btn btn-default" id="btSumbit">
            CSV export
          </button>
        </div>
        </div>
        </form>
        <form class="form-horizontal" id="mol_infos">
          <div class="form-group" id="molGroup">
          </div>  
        </form>
        
        <div class="text-center"><h4>Relative scores: </h4> <svg width="400" height="250" id="filteredHist"></svg> </div>
       
      </div>

</div>      
<script>
$( window ).on( "load", function() { 
    var rows = getRows();
    var scores = getScores(rows);
    var max = Math.max.apply(Math, scores);
    if (max > 1) {
        scores = getRelativeScores(rows, max)
    }
    mkHistogram(scores, "hist") ;
})

function isNumber(n){
    return typeof(n) != "boolean" && !isNaN(n);
}

function sum(arr) {
    var count = 0;
    for (var i = 0; i < arr.length; i++) {
        count += arr[i];
    }
    return count;
}

function mean(arr) {
      count = sum(arr);
      return count / arr.length; 
}

function median(arr) {
    var mid = arr.length / 2;
    return mid % 1 ? arr[mid - 0.5] : (arr[mid - 1] + arr[mid]) / 2;
}

function variance(arr) {
		var m = mean(arr);
		return mean(arr.map(function(num) {
			return Math.pow(num - m, 2);
		}));
}

function mkHistogram(data, idOfSVG) {
var url = "#" + idOfSVG
var formatCount = d3.format(",.0f");

var svg = d3.select(url),
    margin = {top: 10, right: 30, bottom: 30, left: 30},
    width = +svg.attr("width") - margin.left - margin.right,
    height = +svg.attr("height") - margin.top - margin.bottom,
    g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var x = d3.scaleLinear()
    .rangeRound([0, width]);

var bins = d3.histogram()
    .domain(x.domain())
    .thresholds(x.ticks(20))
    (data);

var y = d3.scaleLinear()
    .domain([0, d3.max(bins, function(d) { return d.length; })])
    .range([height, 0]);

var bar = g.selectAll(".bar")
  .data(bins)
  .enter().append("g")
    .attr("class", "bar")
    .attr("transform", function(d) { return "translate(" + x(d.x0) + "," + y(d.length) + ")"; });

bar.append("rect")
    .attr("x", 1)
    .attr("width", x(bins[0].x1) - x(bins[0].x0) - 1)
    .attr("height", function(d) { return height - y(d.length); });

bar.append("text")
    .attr("dy", ".75em")
    .attr("y", 6)
    .attr("x", (x(bins[0].x1) - x(bins[0].x0)) / 2)
    .attr("text-anchor", "middle")
    .text(function(d) { return formatCount(d.length); });

g.append("g")
    .attr("class", "axis axis--x")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x));

}

function getRows() {
     var rows = $("#fbody").find("tr");
     return rows;
}

function getFilteredRows(rows) {
    var start_value = $("#start_value").val();
    var end_value = $("#end_value").val();
    if (! isNumber(start_value)) {
       start_value = 0; 
    }
    
    if (! isNumber(end_value)) {
       end_value = {{ molecules|length - 1 }}; 
    }
    //Recusively filter the jquery object to get results.
    filteredRows = rows.filter(function (index) {
        
            if (index >= start_value && index <= end_value) {
                return true;
            }
            else {
              return false;
            }
        
    })
    return filteredRows ;
}

function getScores(filteredRows) {
    var arr = [];
    filteredRows.each(function(){
        arr.push(parseFloat($(this).find("td:eq(1)").text())); //put elements into array
    });
    return arr;
}

function getRelativeScores(filteredRows, max) {
    var arr = [];
    filteredRows.each(function(){
        arr.push(parseFloat($(this).find("td:eq(1)").text())/max); //put elements into array
    });
    return arr;
}
$(document).ready(function(){

$("#btCalc").click(function () {
    var rows = getRows();
    //hide all the rows
    rows.hide();

    //Recusively filter the jquery object to get results.
    filteredRows = getFilteredRows(rows);
    
    //show the rows that match.
    filteredRows.show();
    
    var arr = getScores(filteredRows);
    
    var max = Math.max.apply(Math, arr); 
    var min = Math.min.apply(Math, arr);
    var avg = mean(arr) ;
    var med = median(arr) ;
    var vari = variance(arr); 
    
    var maxText ="<label class='col-sm-2 control-label'>Maximum: </label> <div class='col-sm-10'> <p class='form-control-static'> " + max + "</p> </div>";   
    var minText ="<label class='col-sm-2 control-label'>Minimum: </label> <div class='col-sm-10'> <p class='form-control-static'> " + min + "</p> </div>";
    var avgText ="<label class='col-sm-2 control-label'>Average: </label> <div class='col-sm-10'> <p class='form-control-static'> " + avg + "</p> </div>";
    var medText ="<label class='col-sm-2 control-label'>Median: </label> <div class='col-sm-10'> <p class='form-control-static'> " + med + "</p> </div>";   
    var varText ="<label class='col-sm-2 control-label'>Variance: </label> <div class='col-sm-10'> <p class='form-control-static'> " + vari + "</p> </div>";
    
    
    $("#molGroup").empty().append(maxText, minText, avgText, medText, varText);
     
    if (max > 1) {
        arr = getRelativeScores(filteredRows, max)
    }
    mkHistogram(arr, "filteredHist") ;
     
    
});
});

</script>

{% endblock %}